@import url('https://fonts.googleapis.com/css2?family=Alien+Block&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Outfit:wght@100..900&display=swap');

:root {
  --font-display: 'Outfit', sans-serif;
  --font-body: 'Josefin Sans', sans-serif;
  --font-accent: 'Outfit', sans-serif;
  --font-brand: 'Alien Block', cursive;
  --font-alien: 'Alien Block', cursive;
}

body {
  font-family: var(--font-body);
}

h1, h2, h3 {
  font-family: var(--font-display);
}

.alien-block-regular {
  font-family: "Alien Block", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.josefin-sans-regular {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100 700;
  font-style: normal;
}

.outfit-regular {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100 900;
  font-style: normal;
}